body{
  font-family: Verdana;
  text-align: center;
}

label{
  font-weight: bold;
}

input[type |="text"], input[type |="date"], select{
  font-size: 16px;
  width: 180px;
}

input[type |="submit"]{
  font-size: 16px;
}

#contenedor{
  background-color: #cccccc;
  margin: 0px auto;
  width: 650px;
  height: 420px;
  font-size: 16px;
  text-align: center;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}

#datos{
text-align: left;
padding: 0px 25px 0px 115px;
}
