body{
  width: 750px;
  margin: 0px auto;
  font-family: helvetica;
}

header{
  text-align: center;
  background-color: #005580;
  border-top-left-radius: 15px;
  border-top-right-radius: 15px;
  color: white;
  border: 1px #005580 solid;
  margin: 0px auto;
}

header > h2{
  padding: 45px;
}

nav{
  background-color: grey;
  height: 23px;
}

nav>ul{
  list-style-type: none;
  display: inline;
}

nav>ul>li{
  float:  left;
  margin: 2px;
}

nav>ul>li>a{
  text-decoration: none;
  color: #005580;
  padding: 3px 3px 3px 3px;
  font-weight: bold;
}

nav>ul>li>a:hover{
  background-color: #d1d1e0;
}

#contenedor{
  margin: 0px auto;
  background-color: #00aaff;
  border: 1px #00aaff solid;
}

#datos>p{
  margin: 0px;
  padding: 10px 15px 5px 15px;
  color: #4d3319;
}

footer{
  font-size: 12px;
  text-align: center;
  font-family: Arial;
}
